html {
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0px;
	padding: 0px;
	background: #f9f9f9;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h5 {font-size: 20px;font-weight: 500;line-height: 24px; margin: 0px;}
p {word-spacing: 1px;}
a,a:hover, a:active, a:visited, a:focus {text-decoration: none; transition: all ease 0.5s; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; }
.wrong_info {border: 1px solid red;}
p.wrong_info {color: red; border: none;}

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: transparent;
	margin: 30px 0px 15px 0px;
}
.breadcrumb-arrow li {
	margin-right: 12px;
    position: relative;
}
.breadcrumb-arrow li:before {
	right: -20px;
    border-left-style: solid;
    border-left-width: 11px;
    border-left: 11px solid #f9f9f9;
    position: absolute;
    width: 0;
    z-index: 1;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
	background: #ababab;
	font-size: 18px;
}
.breadcrumb-arrow li a.breardactive {border: 1px solid #3bafda;background-color: #3bafda;}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #ababab;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #ababab
}
.breadcrumb-arrow li a.breardactive:before {
    border-left-color: #3bafda;
}
.breadcrumb-arrow li a.breardactive:after {
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}


.hiddendiv, 
.hiddendiv2 {display: none;}
.services .services_inner {background: #fff;	text-align: center;	border: 1px solid #D3DAE8;	padding: 15px; margin: 15px 0px;position: relative;}
.services .services_inner:after {content: '';position: absolute; left: 0px; top: 0px; right: 0px;bottom: 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34b8c0), to(#6f51c7));
    background: -webkit-linear-gradient(top,#34b8c0,#6f51c7);
    background:    -moz-linear-gradient(top,#34b8c0,#6f51c7);
    background:      -o-linear-gradient(top,#34b8c0,#6f51c7);
    background:         linear-gradient(top,#34b8c0,#6f51c7);
    opacity: 0;
	-moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.services .services_inner:hover:after {opacity: 1;}
.services .services_inner h5 {margin: 15px 0px; overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; min-height: 50px;}
.services .services_inner:hover  h5,
.services .services_inner:hover p,
.services .services_inner:hover p.time {color: #fff; position: relative;z-index: 1;}
.services .services_inner p {color: #666F7F; margin-bottom: 15px; font-size: 18px; line-height: 22px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.services .services_inner:hover p {color: #fff;}
.services .services_inner p.time {color: #34b8c0;	position: relative;	padding-bottom: 5px;display: inline-block;}
.services .services_inner p.time:after {content: '';width: 100%; height: 3px; background: linear-gradient(to bottom, #34b8c0 0%,#6f51c7 100%); z-index: 1; position: absolute; bottom: 0px; left: 0px;}
.services .services_inner:hover p.time:after {background: #fff;}
.show_more {font-size: 18px; line-height: 22px; min-width: 150px; position: relative;text-align: left;padding: 5px; margin-bottom: 15px;}
.show_more i {width: 20%;line-height: 33px; height: 100%; background: #3f859a; position: absolute; top: 0px; right: 0px; border-radius: 0px 4px 4px 0px;text-align: center;}
.appointment {margin: 15px 0px; min-height: 100px; color: #fff;}
.scroller {z-index:100; background: #3e6672; min-height: 260px; width: 263px; padding: 15px;}
.scroller p {font-size: 18px; line-height: 22px; margin: 20px 0px;}
.scrolladd {position: fixed !important; top: 0px;}


body .services .practitioner_inner {margin-top: 80px;}
.practitioner_avatar {width: 130px; margin: -80px auto 0px auto;
    position: relative;
    z-index: 1;}
.practitioner_avatar .practitioner_round_img {width: 100%;
    border: 10px solid #f1f1f1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.practitioner_txt {-webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;}
.practitioner_txt h5.name {color: #5bc0de;}



/*** booking form **/
.register_btn {display: inline-block; width: 100%;}
#login-form-link,
#register-form-link {display: block;padding: 10px;text-align: center; background: #ababab; color: #fff; font-size: 18px;}
#login-form-link.active,
#register-form-link.active {background: #3bafda;}
#login-form-link:hover,
#register-form-link:hover { background: #3bafda;}

/*** done screen **/
.message {font-size: 18px;margin-top: 16px;}
.alert_message {background: rgba(213, 0, 0, 0.53); color: #fff; border: 1px solid #830000; box-shadow: 0px 0 2px #830000; padding: 10px;margin-bottom: 15px;}
.succes_message {background: rgba(59, 157, 186, 0.56);
    color: #fff;
    border: 1px solid #39b3d7;
    box-shadow: 0px 0 2px #39b3d7;
    padding: 10px;
    margin-bottom: 15px;}